body{
    margin: 0;
    padding: 0;
}
.t-header{
    padding-top: 16px;
    background-color: #222222;
}
.t-header-l a{
    color: #ffff;
    font-size: 13px;
    padding: 0px 15px;
    margin: 4px 0px 26px 0px;
    border-right: 1px solid #fff;
    
}
.t-header-t {
    display:flex;
    justify-content: flex-end;
}
.t-header-l a.a-login{
    border: none;
}
button.btn.btn-outline-secondary.bt-header{
    background-color: #f10e34;
    border: none;
}
button.btn.btn-outline-secondary.bt-header i{
    transition: 100ms;
    color: #fff;
}
button.btn.btn-outline-secondary.bt-header i:hover{
    transform: scale(1.2);
    color: #fff;
}
button.btn.btn-outline-secondary.bt-header i{
    color: rgba(255, 255, 255, 0.712);
}
.t-header-b-2 p, .t-header-b-2 b, .t-header-b-2 i{
    color: #fff;
    font-size: 12px;
    line-height: 4px;
}
.t-header-b-2 p{
    margin: 0;
}

.t-header-b-2-i {
    margin-left: 42px;
    margin-right: 4px;
    width: 38px;
    border-radius: 50%;
    background-color: #f10e34;
    height: 38px;
   
}
.t-header-b-2-i i{
    transition: 200ms
}
.t-header-b-2-i:hover.t-header-b-2-i i{
    transform: translateY(4px) scale(1.25);
}
input.form-control.ip-header1:focus{
    outline: none;
    border: none;
}

@media (max-width: 576px) {
    .logo{
        text-align: center;
    }
    .t-header-t{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
    }
    .t-header-t a{
        border: none;
        margin: 5px 0;
    }
    .ip-header1{
        margin-left: 10px
    }
    .t-header-b-2{
        margin-right: 10px
    }
}